USE [master]
GO
/****** Object:  Database [Catalogo_Prodotti]    Script Date: 04/06/2020 11:13:35 ******/
CREATE DATABASE [Catalogo_Prodotti]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Catalogo_Prodotti', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Catalogo_Prodotti.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Catalogo_Prodotti_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Catalogo_Prodotti_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Catalogo_Prodotti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Catalogo_Prodotti]
GO
/****** Object:  Table [dbo].[Articoli]    Script Date: 04/06/2020 11:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articoli](
	[Codice_Prodotto] [int] NOT NULL,
	[Articolo] [varchar](20) NULL,
	[Descrizione] [varchar](50) NULL,
	[Nr_Pezzi] [int] NULL,
 CONSTRAINT [PK_Articoli] PRIMARY KEY CLUSTERED 
(
	[Codice_Prodotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
